<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>video</title>
</head>

<script src="https://cdn.bootcdn.net/ajax/libs/axios/1.2.0/axios.js"></script>

<script>

    function send() {
        let file = document.querySelector("input[type=file]").files[0]

        ws.send(file)

        console.log("成功发送mp4文件")

    }
</script>

<body>
<input type="file"/>
<img id="receiver" style="width: 500px;height: 450px;">

<span id="hh"></span>

<button onclick="send()">按钮</button>


<script>
    let lockReconnect = false;  // 避免ws重复连接
    let ws = null;          // 判断当前浏览器是否支持WebSocket

    // 连接ws
    // TODO: 注册自己的账号，并在登录后换成自己的
    // let username = "panshihuang"
    // let password = 123456
    //
    // axios.post("http://124.223.164.9:9527/user/login", { username: username, password: password }).then(res => {
    //     const data = res.data
    //     console.log(data)
    //     let token = data.data.token
    //
    //     // 在websocket中拼接上token和用户名即可认证成功
    //     const wsUrl = "ws://localhost:8082/video/" + token + "/" + username
    //     console.log(wsUrl)
    //     createWebSocket(wsUrl);
    // })

    // 在websocket中拼接上token和用户名即可认证成功
    const wsUrl = "ws://localhost:8082/video"
    console.log(wsUrl)
    createWebSocket(wsUrl);

    /**
     * 创建 WS 实例
     * @param {string} url ws的URL
     */
    function createWebSocket(url) {
        try {
            if ('WebSocket' in window) {
                ws = new WebSocket(url);
            }
            initEventHandle();
        } catch (e) {
            reconnect(url);
            console.log(e);
            console.log("连接失败，尝试重新连接。")
        }
    }

    /**
     * 初始化事件处理
     */
    function initEventHandle() {
        ws.onclose = function () {
            reconnect(wsUrl);
            console.log("WS 连接关闭!" + new Date().toLocaleString());
        };
        ws.onerror = function () {
            reconnect(wsUrl);
            console.log("WS 连接错误!");
        };
        ws.onopen = function () {
            //心跳检测重置
            heartCheck.reset().start();
            console.log("WS 连接成功!" + new Date().toLocaleString());
        };

        const image = document.getElementById('receiver');

        ws.onmessage = function (event) {
            //如果获取到消息，心跳检测重置
            //拿到任何消息都说明当前连接是正常的
            heartCheck.reset().start();
            // console.log("WS 收到消息啦:" +event.data);
            if (event.data === "unauthorized!")
                document.getElementById('hh').innerHTML = "unauthorized!";
            else {
                /**
                 * 第一种数据结构
                 * 异常图片信息：
                 * {
                        "type": "image information",
                        "base64Data": base64Data,
                        "yawning": yawning_flag,
                        "calling": calling_flag,
                        "smoking": smoking_flag,
                        "eye_closed": eye_closed_flag
                    }

                 * 识别完成后返回的统计信息
                 * {
                    "videoName": video_name,
                    "username": username,
                    "yawning": yawning_times,
                    "eyeClosed": eye_closed_times,
                    "smoking": smoking_times,
                    "calling": calling_times,
                   }
                 * **/
                let data = JSON.parse(event.data);
                if (data.type === "image information") {
                    image.src = data.base64Data;
                    document.getElementById('hh').innerHTML = "authorized!";
                    console.log("是否打哈欠" + data.yawning)
                    console.log("是否打电话" + data.calling)
                    console.log("是否吸烟" + data.smoking)
                    console.log("是否闭眼" + data.eye_closed)
                } else {
                    console.log("吸烟次数：" + data.smoking)
                    console.log("打哈欠次数：" + data.yawning)
                    console.log("闭眼次数：" + data.eyeClosed)
                    console.log("打电话次数：" + data.calling)

                }

            }
        };
    }

    // 监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
    window.onbeforeunload = function () {
        ws.close();
    }

    /**
     * 重连
     * @param {string} url ws的URL
     * @returns null
     */
    function reconnect(url) {
        if (lockReconnect)
            return null;
        lockReconnect = true;
        // 没连接上，会一直重连，设置延迟 2s 避免连接频繁
        setTimeout(function () {
            console.log("正在尝试重新连接websocket服务器")
            createWebSocket(url);
            lockReconnect = false;
        }, 2000);
    }

    // 心跳检测
    var heartCheck = {
        timeout: 15000,
        timeoutObj: null,
        serverTimeoutObj: null,
        reset: function () {
            clearTimeout(this.timeoutObj);
            clearTimeout(this.serverTimeoutObj);
            return this;
        },
        start: function () {
            const self = this;
            this.timeoutObj = setTimeout(function () {
                //这里发送一个心跳，后端收到后，返回一个心跳消息，
                //onmessage拿到返回的心跳就说明连接正常
                // 会发送 GET http://localhost:8082/pong请求
                ws.send("ping");
                console.log("ping!")
                //如果超过一定时间还没重置，说明后端主动断开了
                self.serverTimeoutObj = setTimeout(function () {
                    //如果onclose会执行reconnect，我们执行ws.close()就行了.如果直接执行reconnect 会触发onclose导致重连两次
                    ws.close();
                }, self.timeout)
            }, this.timeout)
        }
    }

</script>

</body>
</html>